In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 2, np.nan])
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [3]:
s[0]

1.0

In [4]:
s.sum()

3.0

In [5]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df

   A  B
0  1  3
1  2  4

In [6]:
df = pd.DataFrame(np.random.randn(6, 4))
df

          0         1         2         3
0  0.048442 -0.385740 -0.442774  0.036978
1 -0.626502  0.675770  0.709840 -0.307154
2  2.090427  0.104108 -1.659549  2.037606
3 -0.719418 -1.364537  1.988916  0.776144
4 -0.491049 -0.475142 -0.507292 -1.184035
5 -0.902301 -0.132132  0.198668  2.134885

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20170101', periods=6), columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2017-01-01 -0.962514  0.185461  1.085995 -1.339704
2017-01-02  0.493644  0.462907  0.180690  0.613257
2017-01-03  0.073242 -0.167219  0.264816  0.809843
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478
2017-01-05 -0.067061  0.443452 -0.379400  0.149979
2017-01-06 -0.349052  0.336280 -0.913727  0.908515

In [11]:
df.head(1)

                   A         B         C         D
2017-01-01 -0.962514  0.185461  1.085995 -1.339704

In [12]:
df.tail(3)

                   A         B         C         D
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478
2017-01-05 -0.067061  0.443452 -0.379400  0.149979
2017-01-06 -0.349052  0.336280 -0.913727  0.908515

In [13]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[-0.96251413,  0.18546118,  1.08599463, -1.3397039 ],
       [ 0.49364356,  0.46290722,  0.18069049,  0.61325661],
       [ 0.0732417 , -0.16721928,  0.26481606,  0.80984276],
       [-0.78882426, -2.14280911, -0.51111714,  0.58947797],
       [-0.06706088,  0.44345177, -0.37939989,  0.14997929],
       [-0.34905219,  0.33627992, -0.91372653,  0.90851541]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.266761 -0.146988 -0.045457  0.288561
std    0.547191  1.004826  0.708498  0.839346
min   -0.962514 -2.142809 -0.913727 -1.339704
25%   -0.678881 -0.079049 -0.478188  0.259854
50%   -0.208057  0.260871 -0.099355  0.601367
75%    0.038166  0.416659  0.243785  0.760696
max    0.493644  0.462907  1.085995  0.908515

In [17]:
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A   -0.962514    0.493644    0.073242   -0.788824   -0.067061   -0.349052
B    0.185461    0.462907   -0.167219   -2.142809    0.443452    0.336280
C    1.085995    0.180690    0.264816   -0.511117   -0.379400   -0.913727
D   -1.339704    0.613257    0.809843    0.589478    0.149979    0.908515

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478
2017-01-03  0.073242 -0.167219  0.264816  0.809843
2017-01-01 -0.962514  0.185461  1.085995 -1.339704
2017-01-06 -0.349052  0.336280 -0.913727  0.908515
2017-01-05 -0.067061  0.443452 -0.379400  0.149979
2017-01-02  0.493644  0.462907  0.180690  0.613257

In [20]:
df[0:3]

                   A         B         C         D
2017-01-01 -0.962514  0.185461  1.085995 -1.339704
2017-01-02  0.493644  0.462907  0.180690  0.613257
2017-01-03  0.073242 -0.167219  0.264816  0.809843

In [21]:
df['20170102':'20170104']

                   A         B         C         D
2017-01-02  0.493644  0.462907  0.180690  0.613257
2017-01-03  0.073242 -0.167219  0.264816  0.809843
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478

In [22]:
df.loc['20170101']

A   -0.962514
B    0.185461
C    1.085995
D   -1.339704
Name: 2017-01-01 00:00:00, dtype: float64

In [23]:
df.loc['20170101', ['A', 'B']]

A   -0.962514
B    0.185461
Name: 2017-01-01 00:00:00, dtype: float64

In [24]:
df[df.B > 0]

                   A         B         C         D
2017-01-01 -0.962514  0.185461  1.085995 -1.339704
2017-01-02  0.493644  0.462907  0.180690  0.613257
2017-01-05 -0.067061  0.443452 -0.379400  0.149979
2017-01-06 -0.349052  0.336280 -0.913727  0.908515

In [26]:
df2 = df.copy()
df2['E'] = ['one', 'one','two', 'three', 'four', 'three']

In [27]:
df2

                   A         B         C         D      E
2017-01-01 -0.962514  0.185461  1.085995 -1.339704    one
2017-01-02  0.493644  0.462907  0.180690  0.613257    one
2017-01-03  0.073242 -0.167219  0.264816  0.809843    two
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478  three
2017-01-05 -0.067061  0.443452 -0.379400  0.149979   four
2017-01-06 -0.349052  0.336280 -0.913727  0.908515  three

In [28]:
df2[df2['E'].isin(['one', 'four'])]

                   A         B         C         D     E
2017-01-01 -0.962514  0.185461  1.085995 -1.339704   one
2017-01-02  0.493644  0.462907  0.180690  0.613257   one
2017-01-05 -0.067061  0.443452 -0.379400  0.149979  four

In [29]:
df

                   A         B         C         D
2017-01-01 -0.962514  0.185461  1.085995 -1.339704
2017-01-02  0.493644  0.462907  0.180690  0.613257
2017-01-03  0.073242 -0.167219  0.264816  0.809843
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478
2017-01-05 -0.067061  0.443452 -0.379400  0.149979
2017-01-06 -0.349052  0.336280 -0.913727  0.908515

In [30]:
s = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20170101', periods=6))

In [31]:
s

2017-01-01    1
2017-01-02    2
2017-01-03    3
2017-01-04    4
2017-01-05    5
2017-01-06    6
Freq: D, dtype: int64

In [32]:
df['E'] = s

In [33]:
df

                   A         B         C         D  E
2017-01-01 -0.962514  0.185461  1.085995 -1.339704  1
2017-01-02  0.493644  0.462907  0.180690  0.613257  2
2017-01-03  0.073242 -0.167219  0.264816  0.809843  3
2017-01-04 -0.788824 -2.142809 -0.511117  0.589478  4
2017-01-05 -0.067061  0.443452 -0.379400  0.149979  5
2017-01-06 -0.349052  0.336280 -0.913727  0.908515  6

In [34]:
df.shift(1)

                   A         B         C         D    E
2017-01-01       NaN       NaN       NaN       NaN  NaN
2017-01-02 -0.962514  0.185461  1.085995 -1.339704  1.0
2017-01-03  0.493644  0.462907  0.180690  0.613257  2.0
2017-01-04  0.073242 -0.167219  0.264816  0.809843  3.0
2017-01-05 -0.788824 -2.142809 -0.511117  0.589478  4.0
2017-01-06 -0.067061  0.443452 -0.379400  0.149979  5.0

In [35]:
df = pd.DataFrame(np.random.randn(2, 2))

In [36]:
df

          0         1
0  0.950103 -0.653613
1  0.744603 -1.435329

In [38]:
pd.concat([df, df])

          0         1
0  0.950103 -0.653613
1  0.744603 -1.435329
0  0.950103 -0.653613
1  0.744603 -1.435329

In [40]:
df = pd.DataFrame(np.random.rand(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.105187  0.453855  0.362181  0.365660
1  0.175264  0.950316  0.989359  0.285285
2  0.770039  0.376572  0.036452  0.438301
3  0.686089  0.691043  0.972436  0.444268
4  0.144402  0.762777  0.355366  0.033292
5  0.521269  0.910149  0.569812  0.124332
6  0.110210  0.725096  0.843971  0.875794
7  0.988082  0.461728  0.464412  0.905240

In [41]:
s = df.iloc[0]
s

A    0.105187
B    0.453855
C    0.362181
D    0.365660
Name: 0, dtype: float64

In [42]:
df.append(s)

          A         B         C         D
0  0.105187  0.453855  0.362181  0.365660
1  0.175264  0.950316  0.989359  0.285285
2  0.770039  0.376572  0.036452  0.438301
3  0.686089  0.691043  0.972436  0.444268
4  0.144402  0.762777  0.355366  0.033292
5  0.521269  0.910149  0.569812  0.124332
6  0.110210  0.725096  0.843971  0.875794
7  0.988082  0.461728  0.464412  0.905240
0  0.105187  0.453855  0.362181  0.365660

In [43]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.105187  0.453855  0.362181  0.365660
1  0.175264  0.950316  0.989359  0.285285
2  0.770039  0.376572  0.036452  0.438301
3  0.686089  0.691043  0.972436  0.444268
4  0.144402  0.762777  0.355366  0.033292
5  0.521269  0.910149  0.569812  0.124332
6  0.110210  0.725096  0.843971  0.875794
7  0.988082  0.461728  0.464412  0.905240
8  0.105187  0.453855  0.362181  0.365660

In [44]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': np.random.randn(4)})
df

     A         B
0  foo  0.325961
1  bar -0.803420
2  foo -0.570638
3  bar  0.087264

In [45]:
df.groupby('A').sum()

            B
A
bar -0.716156
foo -0.244676

In [46]:
import pandas_datareader

In [47]:
df = pandas_datareader.data.DataReader('AAPL', 'yahoo', '2014-01-01')

In [48]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-12-31,20.045713,19.785715,19.791786,20.036428,2.230844e+08,17.906834
2014-01-02,19.893929,19.715000,19.845715,19.754642,2.346848e+08,17.655001
2014-01-03,19.775000,19.301071,19.745001,19.320715,3.924676e+08,17.267195
2014-01-06,19.528572,19.057142,19.194643,19.426071,4.126108e+08,17.361351
2014-01-07,19.498571,19.211428,19.440001,19.287144,3.172092e+08,17.237186
2014-01-08,19.484285,19.238928,19.243214,19.409286,2.585296e+08,17.346355
2014-01-09,19.530714,19.119642,19.528572,19.161428,2.791488e+08,17.124836
2014-01-10,19.314285,18.968214,19.279642,19.033571,3.049760e+08,17.010567
2014-01-13,19.375000,18.924286,18.925358,19.133215,3.784928e+08,17.099621
2014-01-14,19.526072,19.202143,19.222143,19.513929,3.325616e+08,17.439869
2014-01-15,20.007143,19.702143,19.768572,19.905714,3.916388e+08,17.790016
2014-01-16,19.887501,19.702858,19.817858,19.794643,2.292780e+08,17.690750
2014-01-17,19.716785,19.282143,19.695715,19.309643,4.267396e+08,17.257294
2014-01-21,19.645357,19.300714,19.321072,19.609642,3.285268e+08,17.525410
2014-01-22,19.903214,19.564642,19.675358,19.696785,3.799852e+08,17.603291
2014-01-23,19.875000,19.457500,19.640715,19.863571,4.032392e+08,17.752350
2014-01-24,19.843571,19.455357,19.785715,19.502501,4.293548e+08,17.429659
2014-01-27,19.814285,19.491072,19.645357,19.660715,5.548788e+08,17.571051
2014-01-28,18.392857,17.931072,18.170000,18.089285,1.065523e+09,16.166645
2014-01-29,18.120358,17.807858,17.998215,17.883928,5.028100e+08,15.983117
2014-01-30,18.089285,17.739286,17.947857,17.849285,6.785016e+08,15.952156
2014-01-31,17.911785,17.626785,17.684999,17.878571,4.647972e+08,15.978329
2014-02-03,18.133215,17.832144,17.950357,17.911785,4.014640e+08,16.008011
2014-02-04,18.195000,17.955715,18.066071,18.171072,3.766812e+08,16.239738
2014-02-05,18.402857,18.080357,18.091429,18.306786,3.283448e+08,16.361029
2014-02-06,18.339285,18.136072,18.216429,18.303928,2.577652e+08,16.456394
2014-02-07,18.676071,18.477858,18.620714,18.559999,3.702804e+08,16.686625
2014-02-10,18.999643,18.500000,18.523571,18.892500,3.455592e+08,16.985558
2014-02-11,19.205357,18.910715,18.950357,19.141428,2.822568e+08,17.209360
2014-02-12,19.270000,19.044285,19.176786,19.139999,3.081008e+08,17.208076
...,...,...,...,...,...,...
2020-08-11,112.482498,109.107498,111.970001,109.375000,1.879024e+08,109.375000
2020-08-12,113.275002,110.297501,110.497498,113.010002,1.659448e+08,113.010002
2020-08-13,116.042503,113.927498,114.430000,115.010002,2.100820e+08,115.010002
2020-08-14,115.000000,113.044998,114.830002,114.907501,1.655652e+08,114.907501
2020-08-17,116.087502,113.962502,116.062500,114.607498,1.195616e+08,114.607498
2020-08-18,116.000000,114.007500,114.352501,115.562500,1.056336e+08,115.562500
2020-08-19,117.162498,115.610001,115.982498,115.707497,1.455380e+08,115.707497
2020-08-20,118.392502,115.732498,115.750000,118.275002,1.269072e+08,118.275002
2020-08-21,124.867500,119.250000,119.262497,124.370003,3.380548e+08,124.370003
2020-08-24,128.785004,123.937500,128.697495,125.857498,3.459376e+08,125.857498
2020-08-25,125.180000,123.052498,124.697502,124.824997,2.114956e+08,124.824997
2020-08-26,126.992500,125.082497,126.180000,126.522499,1.630224e+08,126.522499
2020-08-27,127.485001,123.832497,127.142502,125.010002,1.555524e+08,125.010002
2020-08-28,126.442497,124.577499,126.012497,124.807503,1.876300e+08,124.807503
2020-08-31,131.000000,126.000000,127.580002,129.039993,2.257027e+08,129.039993
2020-09-01,134.800003,130.529999,132.759995,134.179993,1.524701e+08,134.179993
2020-09-02,137.979996,127.000000,137.589996,131.399994,2.001190e+08,131.399994
2020-09-03,128.839996,120.500000,126.910004,120.879997,2.575996e+08,120.879997
2020-09-04,123.699997,110.889999,120.070000,120.959999,3.326072e+08,120.959999
2020-09-08,118.989998,112.680000,113.949997,112.820000,2.313666e+08,112.820000
2020-09-09,119.139999,115.260002,117.260002,117.320000,1.769405e+08,117.320000
2020-09-10,120.500000,112.500000,120.360001,113.489998,1.822744e+08,113.489998
2020-09-11,115.230003,110.000000,114.570000,112.000000,1.808603e+08,112.000000
2020-09-14,115.930000,112.800003,114.720001,115.360001,1.401501e+08,115.360001
2020-09-15,118.830002,113.610001,118.330002,115.540001,1.846420e+08,115.540001
2020-09-16,116.000000,112.040001,115.230003,112.129997,1.546790e+08,112.129997
2020-09-17,112.199997,108.709999,109.720001,110.339996,1.780110e+08,110.339996
2020-09-18,110.879997,106.089996,110.400002,106.839996,2.871049e+08,106.839996
2020-09-21,110.190002,103.099998,104.540001,110.080002,1.957138e+08,110.080002
2020-09-22,112.860001,109.160004,112.680000,111.809998,1.822963e+08,111.809998

In [49]:
df.head(1)

                 High        Low       Open      Close       Volume  Adj Close
Date
2013-12-31  20.045713  19.785715  19.791786  20.036428  223084400.0  17.906834